<div class="page-header">
  <h1>Feed</h1>
</div>

<div class="row">
  <div class="col-md-8">

    <div ng-repeat="question in questions">
        <div class="media">

          <div class="media-body">
            <h4 class="media-heading">
              <h6>  <b>{{question.user.username}}</b>  asked <b>{{question.group.name}}</b></h6>

                <h3>  {{question.title}} </h3>
                <br>
                <h6>  {{question.body}} </h6>
                <br>
                <h4>
                  <a ng-click="answer()" class="btn btn-primary">Answer</a>
                  <a href="/questions/{{question.id}}" class="btn btn-primary">{{question.answers.length}}Answers</a>
                  <a ng-click="followQuestion()" class="btn btn-primary">Follow Question</a>
                  <a ng-click="followTopic()" class="btn btn-primary">Follow Topic</a>
                </h4>
                <hr>

                <br>
              </h4>
            </div>
          </div>
    </div>
  </div>
  <div class ="col-md-4">

<form ng-submit="ask()"
  style="margin-top:30px;">

  <h3>Ask a question</h3>

  <div class="form-group">
    <input type="text"
    class="form-control"
    placeholder="Title of question"
    ng-model="title"></input>
  </div>

  <div class="form-group">
    <input type="text"
    class="form-control"
    placeholder="Body of question"
    ng-model="body"></input>
  </div>

  <div class="form-group">
    <input type="text"
    class="form-control"
    placeholder="Enter topic"
    ng-model="topic_name"></input>
  </div>

  <button type="submit" class="btn btn-primary">Ask Question</button>
</form>
</div>


</div>
